APP_NAME="RAG Application"
APP_VERSION="0.1"
OPENAI_API_KEY="your_openai_api_key_here"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFULT_CHUNK_SIZE=512000
MONGODB_URL="mongodb://admin:admin@localhost:27007" #server access 
MONGODB_DATABASE="rag-app" # folder access
